/* .container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.main-div {
	display: flex;
    align-items: center;
    justify-content: center;
	text-align: center;
	background-color: #242526;
	height: 200px;
	width: 200px;
} */
